<%- include('layouts/header') %>
<%- include('layouts/nav') %>


<div class="container">
    <div class="row">
        <div class="col txt-center">
            <!-- <img src="../img/catto.jpg" alt="cat">
            karna di app.js sudah dibuat build-in middlewarenya, maka folder ini rootnya sudah langsung di folder public -->
            <img src="img/catto.jpg" alt="cat" class="img-thumbnail" width="200"> 
            <h1 class="display-4">Nano geming</h1>
            <p class="lead">kopo</p>
        </div>
    </div>
</div>

















<%- include('layouts/footer') %>